name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-24.04 ]
        ros_distribution: [ jazzy ]
    steps:
    - uses: actions/checkout@v2
    - uses: ros-tooling/setup-ros@0.7.9
      with:
        required-ros-distributions: ${{ matrix.ros_distribution }}
    - uses : MatusLaza/action-ros-ci@master
      with:
        target-ros2-distro: ${{ matrix.ros_distribution }}
        vcs-repo-file-url: ""
        coverage-include-pattern: "'*/ros_ws/src/*'"
        colcon-defaults: |
          {
              "build": {
                  "mixin": [
                      "coverage-gcc"
                  ]
              }
          }
        colcon-mixin-repository: https://raw.githubusercontent.com/colcon/colcon-mixin-repository/master/index.yaml
    - uses: actions/upload-artifact@v1
      with:
        name: coverage-report
        path: ros_ws/coverage_report
      if: always()
    - uses: codecov/codecov-action@v1
      with:
        file: ros_ws/lcov/total_coverage.info
